* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: top 0.3s;
}
@font-face {
  font-family: Parisienne;
  src: url("../Fonts/Parisienne-Regular.ttf");
}
@font-face {
  font-family: Montserrat;
  src: url("../Fonts/Montserrat-Medium.ttf");
}
body {
  font-family: Montserrat;
  font-size: 20px;
}
.logo {
  font-family: Parisienne;
}
.top,
.panel,
.central-panel,
.end,
.footer-links {
  width: 80%;
  margin: auto;
}
.top,
.logo-container,
nav ul,
.panel,
.gallery,
.end,
.footer-links {
  display: flex;
  align-items: center;
}
.logo,
nav,
.info,
#featured-img,
.leftfooter {
  flex: 1;
}
#featured-img{
  height: 80vh;
}
nav ul,
.footer-links {
  justify-content: space-around;
}
.info h1 {
  margin-bottom: 15px;
}
#top-logo {
  width: 75px;
  margin: 5px 25px 5px 0;
}
.top,
.panel {
  padding-top: 15px;
}
nav ul li,
.footer-links li {
  list-style: none;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
nav ul li a {
  background-color: rgba(255, 255, 255, 0.849);
  padding: 10px 15px;
  border-radius: 10px;
  transition: all ease 0.5s;
  border: 2px solid rgba(0, 0, 0, 0.623);
}
nav ul li a:hover {
  background-color: white;
  border-radius: 25px;
  border: 2px solid black;
}
.logo-container {
  width: 250px;
  padding: 0 15px;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.849);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
}
.gallery {
  justify-content: space-evenly;
}
.gallery img {
  height: 350px;
}
.central-info {
  text-align: center;
}
.central-info h1 {
  margin-bottom: 25px;
}
.signup {
  padding: 250px 0;
  text-align: center;
}
.signup h1 {
  margin-bottom: 15px;
}
.signup h1:first-child {
  font-size: 50px;
}
.signup-btn,
.rightfooter {
  width: 150px;
  margin: 25px auto;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  color: rgb(255, 255, 255);
  transition: all ease 0.5s;
  background-color: black;
  text-align: center;
}
.signup-btn:hover,
.rightfooter:hover {
  border-radius: 25px;
  color: black;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}
footer {
  width: 100%;
  background-color: teal;
}
.end {
  padding-bottom: 50px;
  padding-top: 15px;
}
.footer-links {
  padding-top: 50px;
  padding-bottom: 15px;
}
.footer-links li {
  text-align: center;
}
hr.footer-link-sep {
  border: 2px solid black;
  background-color: black;
  width: 80%;
  margin: auto;
}
.panel1,
.panel2,
.panel3,
.panel4,
.panel5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  vertical-align: middle;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.panel1 {
  background-image: url("../images/bg1.jpg");
}
.panel2 {
  background-image: url("../images/bg2.jpg");
}
.panel3 {
  background-image: url("../images/bg3.jpg");
}
.panel4 {
  background-image: linear-gradient(
      rgba(134, 134, 134, 0.5),
      rgba(148, 148, 148, 0.5)
    ),
    url("../images/bg4.jpg");
}
.panel5 {
  background-image: url("../images/bg5.jpg");
}
.panel6 {
  background-image: linear-gradient(
    to right,
    rgb(107, 107, 223),
    rgb(240, 112, 112)
  );
}
.central-panel {
  padding-bottom: 100px;
}
.leftfooter h1 {
  margin-bottom: 15px;
}
.introduce-text-left,
.introduce-text-right,
.introduce-text-top {
  opacity: 0;
  transition: 0.5s all ease;
}
.introduce-text-right {
  transform: translateX(20px);
}
.introduce-text-left {
  transform: translateX(-20px);
}
.introduce-text-top {
  transform: translateY(20px);
}
.introduced-text {
  opacity: 1;
  transform: translateX(0px);
}
header,
.signup-btn,
.rightfooter {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  text-align: center;
  padding-bottom: 15px;
}
.social li img {
  width: 25px;
}
.repair-grid {
  display: grid;
  grid-template-columns: auto auto;
  margin: 10px;
}
.column {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.column img {
  height: 35px;
  margin-right: 10px;
}

/* Scroll Bar */
body {
  overflow: overlay;
}
::-webkit-scrollbar {
  width: 20px;
  background-color: rgba(255, 255, 255, 0);
}
::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  background-clip: padding-box;
  border: 4px solid rgba(0, 0, 0, 0);
  transition: all 0.5s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
  border-radius: 20px;
  background-clip: padding-box;
  border: 4px solid rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 850px) {
  .top,
  .panel,
  .central-panel,
  .end {
    width: 90%;
    margin: auto;
  }
  .social {
    margin: auto;
  }
  .end {
    display: block;
  }
  .leftfooter {
    text-align: center;
  }
}
@media only screen and (max-width: 750px) {
  body {
    font-size: 15px;
  }
}
@media only screen and (max-width: 655px) {
  .top,
  .panel,
  .central-panel,
  .end,
  .footer-links {
    width: 95%;
    margin: auto;
  }
}
@media only screen and (max-width: 550px) {
  .logo-container {
    width: 150px;
    font-size: 20px;
    padding: 0 5px;
  }
  #top-logo {
    width: 50px;
    margin: 0 15px 0 0;
  }
  nav ul li a {
    padding: 5px 10px;
  }
}
@media only screen and (max-height: 450px) {
  .logo-container {
    width: 150px;
    font-size: 20px;
    padding: 0 5px;
  }
  #top-logo {
    width: 50px;
    margin: 0 15px 0 0;
  }
  nav ul li a {
    padding: 5px 10px;
  }
  body {
    font-size: 15px;
  }
}
@media only screen and (max-height: 650px) {
  .gallery img {
    height: 250px;
    width: auto;
  }
}
@media only screen and (max-height: 550px) {
  .gallery img {
    margin-top: 50px;
    height: 150px;
  }
}
@media only screen and (max-height: 500px) {
  .gallery img {
    margin-top: 20px;
    height: 150px;
  }
  #featured-img {
    height: 350px;
  }
  .panel1,
  .panel2,
  .panel3,
  .panel4,
  .panel5 {
    height: auto;
  }
}
@media only screen and (max-width: 470px), (max-height: 300px) {
  body::before {
    content: "Sorry, this webpage cannot be viewed on this device";
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
      to right,
      rgb(107, 107, 223),
      rgb(240, 112, 112)
    );
    z-index: 2;
    padding: 25px;
    text-align: center;
    margin: 0 auto;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    vertical-align: middle;
  }
}
